 /*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
    /*HEADER START*/
     .menu ul li a{
      font-size: 20px;
      text-align: right;
      padding: 10px 0 0 !important;
     }
    /*HEADER END*/
    /*SLIDER START*/
     /*SLIDER START*/
     .slider {
    background-color: #fcdb00;
    padding-bottom: 70px;
}
.s_text {
    margin-top: 20px;
    font-size: 17px;
}
.s_text h1 {
   font-size: 25px;
}
.s_icon ul li {
    margin-right: 20px !important;
}
.s_icon ul li i {
    transition: .3s;
    font-size: 35px;
}
.cid {
    bottom: -55px;
}

    /*SLIDER END*/
        /*FEATURE START*/
     .feature {
    padding-top: 50px;
    padding-bottom: 70px;
}
     .c_h1{
        margin-bottom: 10px;
        font-size: 30px;
     }
     .c_text{
        margin-bottom: 0;
     }
     .f_single{
        margin-top: 30px;
        text-align: center;
     }
     .f_text h2{
        margin-top: 5px;
        margin-bottom: 5px;
     }
     .f_icon{
        font-size: 45px;
     }
    /*FEATURE END*/
   
    
}

 /*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
    /*HEADER START*/
     .menu ul li a{
      font-size: 20px;
      text-align: right;
      padding: 10px 0 0 !important;
     }
    /*HEADER END*/
    /*SLIDER START*/
     .slider {
    background-color: #fcdb00;
    padding-bottom: 70px;
}
.s_text {
    margin-top: 20px;
}
.s_icon ul li {
    margin-right: 20px !important;
}
.s_icon ul li i {
    transition: .3s;
    font-size: 35px;
}
.cid {
    bottom: -55px;
}

    /*SLIDER END*/
     /*FEATURE START*/
     .feature {
    padding-top: 50px;
    padding-bottom: 70px;
}
     .c_h1{
        margin-bottom: 10px;
        font-size: 30px;
     }
     .c_text{
        margin-bottom: 0;
     }
     .f_single{
        margin-top: 30px;
        text-align: center;
     }
     .f_text h2{
        margin-top: 5px;
        margin-bottom: 5px;
     }
    /*FEATURE END*/
}

 /*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
    /*HEADER START*/
     .menu ul li a{
      text-align: right;
      padding: 10px 0 0 !important;
     }
    /*HEADER END*/
    /*SLIDER START*/
      .s_text{
        margin-top: 50px;
      }
    /*SLIDER END*/
    /*FEATURE START*/
     .feature {
    padding-top: 80px;
    padding-bottom: 100px;
}
.f_single{
    margin-top: 40px;
}
    /*FEATURE END*/

}

 /*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {

}

  /*X-Large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) and (max-width: 1399.98px) {

}

 /*XX-Large devices (larger desktops, 1400px and up)*/
@media (min-width: 1400px) {
	
}